$desktop: 1024px;

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: $desktop) {
      @content;
		}
	}
}

.cards-cont{
	.card {
		width: 300px;
		height: 400px;
		margin: 10px;
		border: none;     
	
		&:hover {
			.card__caption {
				top: 50%;
				transform: translateY(-50%);
				color: rgb(34, 32, 32);
			}
	
			.card__image {
				transform: translateY(-10px);
			}
	
			.card__thumb {
				&::after {
					top: 0;
					background: #F5F5F5
				}
			}
	
			.card__snippet {
				margin: 20px 0;
			}
		}
	
		&__thumb {
			position: relative;
			max-height: 400px;
			overflow: hidden;
			
			@include breakpoint(desktop) {
				max-height: 500px;
			}
	
			&::after {
				position: absolute;
				top: 0;
				display: block;
				content: '';
				width: 100%;
				height: 100%;
				transition: 0.3s;
				transition: .3s;
				
				@include breakpoint(desktop) {
					top: calc(100% - 140px);
				}
			}
		}
		
		&__image {
			transition: .5s ease-in-out;
			object-fit: cover;
		}
		
		&__caption {
			position: absolute;
			top: 50%;
			z-index: 1;
			padding: 0 20px;
			color: white;
			transform: translateY(-50%);
			text-align: center;
			transition: .3s;
	
			@include breakpoint(desktop) {
				top: 100%;
				transform: unset;
			}
		}
	
		&__title {
			display: -webkit-box;
			max-height: 85px;
			overflow: hidden;
			font-family: 'Playfair Display', serif;
			font-size: 23px;
			line-height: 28px;
			text-overflow: ellipsis;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
	
		&__snippet {
			max-height: 150px;
			margin: 20px 0;
			overflow: hidden;
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			line-height: 20px;
			text-overflow: ellipsis;
			transition: .5s ease-in-out;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
			color: #d61e48;
			
			@include breakpoint(desktop) {
				margin: 60px 0;
			}
		}
	
		&__button {
			display: inline-block;
			color: rgb(26, 24, 24);
			border: 2px solid #04c2c9;
			font-family: 'Roboto', sans-serif;
			font-size: 12px;
			text-transform: uppercase;
			text-decoration: none;
			transition: .3s;
	
			&:hover {
				color: rgb(142, 240, 253);
				background-color: white;
			}
		}
	}
}

