.task-content{
    box-shadow: 4px 4px 9px 0px #7e7d7d;
    border-top: 3px solid #04c2c9;
    border-radius: 0.5rem;
    background-color: #fff;
}

.task-content .task-content__title{
    color: #4a4a9c;
}
.task-content .task-content__description{
    color: #3a3a3a;
}